<p>flights works!</p>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box">
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> <input type="text" name="" placeholder="Username"> <input type="password" name="" placeholder="Password"> <a class="forgot text-muted" href="#">Forgot password?</a> <input type="submit" name="" value="Login" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->



<div class="container register">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ADD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="false">Update</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Add Flight Details</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form method="post">
                                <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email2" >Flight Id</label>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="LGform1_user" class="form-control" placeholder="Flight Id" value=""  required=""/>
                                </div>
                            </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email2" class="label label-info">Carrier Name</label>
                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="LGform1_user" class="form-control" placeholder="Carrier Name" value=""  required=""/>
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="row">
                                        <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email2" class="label label-info">Flight Model</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="LGform1_user" class="form-control" placeholder="Flight Model" value=""  required=""/>
                                        </div>
                                    </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email2" class="label label-info">Seat Capacity</label>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="LGform1_user" class="form-control" placeholder="Seat Capacity" value=""  required=""/>
                                            </div>
                                        </div>
                                            </div>
                                <div class="form-group">
                                    <input type="submit" name="LGform1" class="btnContactSubmit" value="ADD" />
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show text-align form-new2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">View Flight Details</h3>
                    
                        <div >
                            <table class="table table-striped" style="background-color: ivory;">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Flight Id</th>
                                        <th scope="col">Carrier Name</th>
                                        <th scope="col">Flight Model</th>
                                        <th scope="col">Seat Capacity</th>
                                        <th scope="col">Action</th>
        
                                      </tr>
                                </thead>
                                <tbody style="overflow: scroll; height: 5px;">
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>120</td>
                                    <td><button (click)="delete(student.id)" class="btn btn-warning">Delete</button>
                                        &nbsp;<button (click)="update(student.id)" class="btn btn-success">UPDATE</button>
                                        </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>120</td>
                                    <td>
                                        <button (click)="update(student.id)" class="btn btn-success">Update</button>
                                        &nbsp;<button (click)="delete(student.id)" class="btn btn-danger">Delete</button>    
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                            

                        </div>
                    
                </div>
                <div class="tab-pane fade show text-align form-new2" id="search" role="tabpanel" aria-labelledby="search-tab">
                    <div class="row" style="margin-left:10%;margin-right: 16%;">
                        
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" name="LGform1_user" class="form-control" placeholder="Search By Flight Id" value=""  required=""/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-warning">Search</button>
                           
                        </div>
                    </div>
                        </div>
                    <h3  class="register-heading">View Flight Details</h3>
                        <div >
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Flight Id</th>
                                    <th scope="col">Carrier Name</th>
                                    <th scope="col">Flight Model</th>
                                    <th scope="col">Seat Capacity</th>
                                    <th scope="col">Action</th>
    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                            

                        </div>
                    
                </div>
                <div class="tab-pane fade show  text-align form-new" id="update" role="tabpanel" aria-labelledby="update-tab">
                    <h3 class="register-heading">Update Flight Details</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form method="post">
                                <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email2" >Flight Id</label>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="LGform1_user" class="form-control" placeholder="Flight Id" value=""  required=""/>
                                </div>
                            </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email2" class="label label-info">Carrier Name</label>
                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="LGform1_user" class="form-control" placeholder="Carrier Name" value=""  required=""/>
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="row">
                                        <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email2" class="label label-info">Flight Model</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="LGform1_user" class="form-control" placeholder="Flight Model" value=""  required=""/>
                                        </div>
                                    </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email2" class="label label-info">Seat Capacity</label>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="LGform1_user" class="form-control" placeholder="Seat Capacity" value=""  required=""/>
                                            </div>
                                        </div>
                                            </div>
                                <div class="form-group">
                                    <input type="submit" name="LGform1" class="btnContactSubmit" value="UPDATE" />
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>