<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/home">
      <i class="fas fa-plane"></i> Flight Booking System
    </a>
  </nav>
</div>

<div class="jumbotron" class="shadow-lg p-3 mb-5 bg-white rounded">
  <h1 class="display-4">Booking Review</h1>
  <div class="row">
    <div class="row r1" *ngFor="let scr of sc" style="margin-left: 20px;">
      <div class="col-md-1" style="margin-top: 15px;">
        <img src="assets\{{ scr.flight.carrierName }}.jpg" />
      </div>
      <div class="col-md-2" style="margin-top: 15px;">
        <h4>{{ scr.flight.carrierName }}</h4>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <h6>{{ scr.schedule.departureTime | date: "shortTime" }} ({{ scr.schedule.departureTime | date: "mediumDate" }})</h6>
      </div>
      <div class="col-md-1" style="margin-top: 15px;">
        <h6 style="color: skyblue; font-size: 30px;">
          <span><i class="fa fa-arrow-right fa-1x"></i></span>
        </h6>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <h6> {{ scr.schedule.arrivalTime | date: "shortTime" }} ({{ scr.schedule.arrivalTime | date: "mediumDate" }}) </h6>
      </div>
      <div class="col-md-2" style="margin-top: 15px; color: blue;">

        <!-- <h4>{{ scr.ticketCost * count | currency: "INR" }}</h4> -->

        <h4><span style="font-size: 10px;">Total Fare:</span> {{ scr.ticketCost | currency: "INR" }}</h4>
      </div>
      <p class="col-md-1" style="
          font-size: x-small;
          font-weight: bold;
          margin-left: 95px;
          margin-top: -25px;
          color: crimson;
        ">
        {{ scr.flight.flightModel }}
      </p>
      <p class="col-md-1" style="
          font-size: x-small;
          font-weight: bold;
          margin-left: 80px;
          margin-top: -30px;
          color: crimson;
        ">
        {{ scr.schedule.sourceAirport.address }}
      </p>
      <p class="col-md-1" style="
          font-size: x-small;
          font-weight: bold;
          margin-left: 255px;
          margin-top: -30px;
          color: crimson;
        ">
        {{ scr.schedule.destinationAirport.address }}
      </p>
    </div>
  </div>
</div>



<div class="container p-3 my-3 border">
  <section class="col-md-2 mx-auto" class="shadow-lg p-3 mb-5 bg-white rounded">
    <h2 class="text-center">Traveller Details!</h2>
    <form [formGroup]="passengerForm" (ngSubmit)="addPassenger()">

      <label for="passengerName"> Full Name </label>
      <div>
        <input type="text" class="form-control" id="passengerName" formControlName="passengerName">
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label for="luggage"> User Luggage Option: </label>
          <br>
          <select id="luggage" formControlName="luggage">
            <option value="Usual luggage"> Usual luggage </option>
            <option value="Extra luggage"> Extra luggage </option>
          </select>
        </div>

        <div class="col">
          <label for="seat"> Choose a seat: </label>
          <br>
          <select id="seatNumber" formControlName="seatNumber">
            <option value="1A"> 1A </option>
            <option value="1B"> 1B </option>
            <option value="1C"> 1C </option>
            <option value="1D"> 1D </option>
            <option value="1E"> 1E </option>
            <option value="1F"> 1F </option>
            <option value="2A"> 2A </option>
            <option value="2B"> 2B </option>
            <option value="2C"> 2C </option>
            <option value="2D"> 2D </option>
            <option value="2E"> 2E </option>
            <option value="2F"> 2F </option>
            <option value="3A"> 3A </option>
            <option value="3B"> 3B </option>
            <option value="3C"> 3C </option>
            <option value="3D"> 3D </option>
            <option value="3E"> 3E </option>
            <option value="3F"> 3F </option>
            <option value="4A"> 4A </option>
            <option value="4B"> 4B </option>
            <option value="4C"> 4C </option>
            <option value="4D"> 4D </option>
            <option value="4E"> 4E </option>
            <option value="4F"> 4F </option>
            <option value="5A"> 5A </option>
            <option value="5B"> 5B </option>
            <option value="5C"> 5C </option>
            <option value="5D"> 5D </option>
            <option value="5E"> 5E </option>
            <option value="5F"> 5F </option>

          </select>
        </div>
      </div>

      <div class="mt-2 text-center">
        <button type="submit" class="btn btn-dark">Proceed to pay</button>
      </div>
    </form>
  </section>
</div>