<div class="container-fluid" >
    <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
      <a class="navbar-brand" routerLink="/adminpage"> <i class='fas fa-heartbeat'></i> Health Care System </a>
      <ul class="navbar-nav">
      </ul>
    </nav>
  </div>
  
  <div class="container p-3 my-3 border" >
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <h3> USERS/ADMINS </h3>
      <table class="table table-striped" >
          <tr> 
            <th ng-click='sortColumn("userRole")' ng-class='sortClass("userRole")'> User Role </th>
            <th> User Name     </th>
            <th> User Mail     </th>
            <th> User Password </th>
            <th> User Contact  </th>
            <th> User Gender   </th>
            <th> User Age      </th>
            <th> NickName      </th>
            <th> Delete        </th> 
          </tr>  
          <tr *ngFor="let user of users">  
            <td> {{ user.userRole }} </td>
            <td> {{ user.userName }} </td>
            <td> {{ user.userMail }} </td>
            <td class="hidetext"> {{ user.userPassword }} </td>
            <td> {{ user.userContact }} </td>
            <td> {{ user.userGender }} </td>
            <td> {{ user.userAge }} </td>
            <td> {{ user.secretWord }} </td>
            <td><button class="btn btn-danger" (click)="deleteDetails(user)" data-toggle="modal" data-target="#rowDeleted"> Delete Row </button></td>
          </tr>
      </table> 
    </div>
  </div>
    
  <!-- Modal -->
  <div class="modal fade" id="rowDeleted" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> HealthCareSystem [Admin] </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Row has been deleted!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal"> Okay! </button>
        </div>
      </div>
    </div>
  </div>