
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
  }

  .image{
    height:40em; background-size:cover; width:auto;
    background-image:url(../assets/plane7.jpg);
    background-position:50% 50%;
  }
