
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
  }

  .image{
    height:auto; width:auto;
    background-image:url(../assets/Scattered-Forcefields.svg);
    background-position:100% 100%;
  }
