<hr><hr><table class="table table-sm table-bordered table-hover zoom1 shadow-lg p-3 mb-5 bg-white rounded mx-auto" style="background-color: aliceblue;">
    <thead class="thead-dark">
        <tr>
            <th><a class="btn btn-info flip" scope="col" style="width: 100%;">ScheduleFlight ID</a></th>
            <th><a class="btn btn-info flip" scope="col" style="width: 100%;">Source Airport</a></th>
            <th><a class="btn btn-info flip" scope="col" style="width: 100%;">Destination Airport</a></th>
            <th><a class="btn btn-info flip" scope="col" style="width: 100%;">Departure Time</a></th>
            <th><a class="btn btn-info flip" scope="col" style="width: 100%;">Arival Time</a></th> 
            <th><a class="btn btn-danger flip" scope="col" style="width: 100%;">Delete</a></th>
            <th><a class="btn btn-warning flip" scope="col" style="width: 100%;">Reschedule</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <tr *ngFor="let p of scheduleFlightsList; let i=index">
            <th scope="row"><a class="btn btn-light" style="width: 100%;">{{p.scheduleFlightId}}</a></th>
            <td><a class="btn btn-light" style="width: 100%;">{{p.schedule.sourceAirport.airportName}}</a></td>
            <td><a class="btn btn-light" style="width: 100%;">{{p.schedule.destinationAirport.airportName}}</a></td>
            <td><a class="btn btn-light" style="width: 100%;">{{p.schedule.departureTime | date:'medium'}}</a></td>
            <td><a class="btn btn-light" style="width: 100%;">{{p.schedule.arrivalTime | date:'medium'}}</a></td>
            <td><a (click)="deleteScheduleFlight(scheduleFlightsList[i])" class="zoom flip btn btn-outline-warning mx-auto" style="width: 100%;">Delete</a></td>
            <td><a (click)="reschedule(scheduleFlightsList[i])"data-toggle="modal" data-target="#staticBackdrop" class="zoom flip btn btn-outline-danger mx-auto" style="width: 100%;">Reschedule</a></td>
        </tr>
    </tbody>
</table><hr><hr>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Rescheduling Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <form #formdata="ngForm" (ngSubmit)="submitFunc()" >
            <table class="table table-sm table-bordered table-hover shadow-lg p-3 mb-5 bg-white rounded mx-auto" style="width: 80%;">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2" style="text-align: center;">
                            <h2><label>Rescheduling Form</label></h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="form-group"> ScheduleFlight ID: </div></td>
                        <td><div><label [(ngModel)]="updatedSchedule.scheduleFlightId" #usr="ngModel" ></label></div></td>
                    </tr>
                    <tr>
                        <td><div class="form-group"> Departure Time: </div></td>
                        <td><div><input class="form-control customInputTag" type="datetime" name="departureTime" [(ngModel)]="updatedSchedule.departureTime" #usr="ngModel" required></div></td>
                    </tr>
                    <tr>
                        <td><div class="form-group"> Arival Time: </div></td>
                        <td><div><input class="form-control customInputTag" type="datetime" name="arrivalTime" [(ngModel)]="updatedSchedule.arrivalTime" #usr="ngModel" required></div></td>
                    </tr>
                    <tr>
                        <td><div class="form-group"></div></td>
                        <td><div class="form-group"><input class="btn btn-dark" style="width: 200px;" type="submit" [disabled]="formdata.invalid" [disabled]="usr.untouched" value="Enter"></div></td>
                    </tr>
                </tbody>
            </table> 
        </form> -->
    </div>
    <div class="modal-footer">
        
    </div>
    </div>
</div>
</div>