<h3>Your Bookings</h3>

<table class="table-hover table-bordered table-striped">
    <tr>
        <td>Booking Id</td>
        <td>Source</td>
        <td>Destination</td>
        <td>Date</td>
        <td>Time</td>
        <td>Action</td>
    </tr>

    <tr *ngFor="let book of bookings,let i of index">
        <td>{{book.bookingId}}</td>
        <!-- <td>{{book.scheduleFlight.schedule.sourceAirport.address}}</td> -->
        <!-- <td>{{book.scheduleFlight.schedule.destinationAirport.address}}</td> -->
        <td>{{book.bookingDate}}</td>
        <td>{{book.bookingTime}}</td>
        <td>
            <button class="btn btn-sm btn-info" (click)="viewFlight(i)">View Flight</button>
            <button class="btn btn-sm btn-info" (click)="viewPassenger(i)">View Passengers</button>
            <button class="btn btn-sm btn-success">Reschedule</button>
            <button class="btn btn-sm btn-danger">Cancel</button>
        </td>
    </tr>
</table>